@import "tailwindcss";

:root {
  --background: #F9FBFD;
  --foreground: #2B2B2B;
}

@theme {
  --color-default-black: #2B2B2B;
  --color-default-white: #F9FBFD;
  --color-pale-orange: #FAE5BB;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-serif: var(--font-noto-serif);
  --font-sans: var(--font-noto-sans);
  --font-sans-tamil: var(--font-noto-sans-tamil);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #2B2B2B;
    --foreground: #F9FBFD;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Noto Sans", "Noto Sans Tamil", "Noto Serif";
}
